<!DOCTYPE html>
<html>

<head>
    <title>

    </title>
    <link rel='stylesheet' href='/public/stylesheets/style.css' />
</head>

<body>
    <h1>
        Enter Your mail
    </h1>

    <form action="/users/mail/data" method="post">
        <input type="text" name="subject" placeholder="subject"><br><br>
        <textarea type="text" name="content" placeholder="content">
            </textarea><br>
        <button type="submit">send</button>
    </form>
</body>

</html>