<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Create the user</h1>
    <form action="/updateUser" method="post">
        <input type="text" placeholder="username" name="name">
        <input type="password" placeholder="password" name="password">
        <input type="email" placeholder="email" name="email">
        <input type="text" placeholder="department" name="department">
        <button type="submit">createUser</button>
    </form>
    <div style="height:200px; width:200px;"></div>
    <h3>Current Available users:</h3>
    <% for(var i=0; i<items.length; i++) {%>
        <h4>
            -
            <%= items[i].email %>:
                <%= items[i].department %>
        </h4>
        <% } %>
            <hr>

            <!-- <% if (items) { %>
        <h2>
            <%= items %>
            
        </h2>
        <% } %> -->
</body>

</html>