<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <p>Welcome to
        <%= title %>
    </p>

    <p>Please login to contiue</p>
    <form action="/authenticate" method="post">
        <input type="text" class="username" name="username">
        <input type="password" class="password" name="password">
        <button type="submit">Login</button>
    </form>

</body>

</html>