<!DOCTYPE html>
<html>

<head>
    <title>
        <%= docs %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
    </h1>
    <p>Welcome to
        <%= docs._id %>
    </p>

    <form action="/logout" method="post">
        <button type="submit">logout</button>
    </form>
</body>

</html>